body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #48B0D9;
    height: 100%;
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  h1, h2, p, a {
    color: #610000;
  }
  
  header {
    background-color: #72CEF2;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  nav {
    background-color: #F29D7E;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
  }
  
  nav ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
  }
  
  main {
    max-width: 100%;
    margin: 0 auto;
  }
  
  section {
    background-color: #72CEF2;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  footer p {
   color: black;
  }

  footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F29D7E;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
  }

  img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }